* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    background-color: antiquewhite
}

#quiz-container {
    background-color:rgb(102, 102, 173);
    width: 800px; 
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 1px 4px 10px 4px rgba(0,0,0,0.65);

}

#question-container {
    color: white; 
    text-align: center;
    font-size: 1.5rem;
    margin: .4rem;
}

#roasts {
    text-align: center;
    color: white; 
    margin: 1rem;
}

.roasted {
    text-align: center;
    color: white; 
    margin: 1rem;
}

#answers-container {
    display: grid; 
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 7rem);
    gap: 8px;
    margin: .7rem;
}

#controls {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: .4rem;
}

.btn {
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: 1px solid rgba(0,0,0,0.25);
    font-size: 1rem;
    min-height: 3rem;
    border-radius: 3px;
    min-width: 4rem;
}

.btn:hover {
    background-color: lightgray;
}

.btn.correct {
    background-color: green;
}

.btn.wrong {
    background-color: red;
}

.hide {
    display: none; 
}